.gnb_area {
  position: relative;
  height: 55px;
  /* padding: 0 265px 0 176px; */
  background-repeat: repeat-x;
  z-index: 20;
  zoom: 1;
  font-size: 12px;
  background-color: #9155e5;
  display: flex;
  /* justify-content: ; */
}

.gnb_logo {
  display: flex;
  flex-direction: row;
  width: 180px;
  padding-left: 20px;
}

.naver {
  display: inline-block;
  vertical-align: top;
  width: 53px;
  height: 10px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 xmlns:xlink=%22http://www.w3.org/1999/xlink%22 viewBox=%220 0 53 10%22%3E%3Cdefs%3E%3Cpath id=%22svg-header-naver-a%22 d=%22M0 0h9.804v10H0z%22/%3E%3C/defs%3E%3Cg fill=%22none%22 fill-rule=%22evenodd%22%3E%3Cpath fill=%22%23fff%22 d=%22M14.856 0l-4.023 10h3.42l.486-1.323h3.856L19.08 10h3.42L18.477 0h-3.62zm1.81 3.15l1.147 3.124H15.52l1.147-3.123zM33.333 0v10h8.334V7.549h-4.969V6.201h4.813V3.799h-4.813V2.451h4.865V0zm-4.252 0l-2.414 6.575L24.253 0h-3.42l4.023 10h3.621L32.5 0zM6.78 0v5.352L3.073 0H0v10h3.22V4.648L6.927 10H10V0z%22/%3E%3Cg transform=%22translate(42.601)%22%3E%3Cmask id=%22svg-header-naver-b%22 fill=%22%23fff%22%3E%3Cuse xlink:href=%22%23svg-header-naver-a%22/%3E%3C/mask%3E%3Cpath fill=%22%23fff%22 d=%22M4.953 4.657h-1.77V2.549h1.77c.6 0 1.086.472 1.086 1.054 0 .582-.486 1.054-1.086 1.054zm2.245 1.912l.312-.127c1.198-.486 1.808-1.539 1.808-2.874 0-1.264-.475-2.198-1.412-2.778-.87-.539-2-.79-3.554-.79H0v10h3.234V7.206h1.163L6.367 10h3.437L7.198 6.57z%22 mask=%22url(%23svg-header-naver-b)%22/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  content: "";
  margin: 22px 6px 0 0;
}

.calendar {
  background-position: -73px -66px;
  width: 80px;
  height: 23px;
  background-size: 200px 126px;
  display: inline-block;
  margin-top: 16px;
  vertical-align: top;
  content: "";
  color: white;
  font-size: 2em;
}

.gnb_icon_list_box {
  position: relative;
  text-align: center;
  white-space: nowrap;
  font-size: 0;
  zoom: 1;
  display: flex;
  align-items: center;
}

.gnb_icon_lists {
  display: flex;
}

.icon-mail {
  display: inline-block;
  vertical-align: top;
  width: 26px;
  height: 29px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 26 29%22%3E%3Cg fill=%22%23303038%22 fill-rule=%22evenodd%22 opacity=%220.8%22%3E%3Cpath d=%22M12.714 19.381L.501 10.871.5 10v15.986C.5 26.546.968 27 1.546 27H24.5c.578 0 1.046-.454 1.046-1.014L25.5 10.87l-12.214 8.511a.5.5 0 01-.572 0z%22/%3E%3Cpath d=%22M25.096 8.677L23 7v3.87l2.086-1.56a.4.4 0 00.01-.633zm-24.192 0L3 7v3.87L.914 9.31a.4.4 0 01-.01-.633zM12.05 14H10V8.5h2.046l1.903 2.787V8.5H16V14h-2.04l-1.91-2.763V14zm9.45-2.386V5.515c0-.285-.207-.515-.463-.515H4.963c-.256 0-.463.23-.463.515v6.1l8.213 5.768a.5.5 0 00.574 0l8.213-5.769zM13.57 1.162a1.085 1.085 0 00-1.14 0L8.641 3.53h8.537L13.57 1.162z%22/%3E%3C/g%3E%3C/svg%3E");
  content: "";
  margin-right: 20px;
}

.icon-calendar {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 25 29%22%3E%3Cpath d=%22M0 26.01c0 .547.437.99.977.99h23.046c.54 0 .977-.443.977-.99V9H0v17.01zm8.967-3.481c.555 0 1.044-.074 1.47-.221a3.23 3.23 0 001.065-.591 2.48 2.48 0 00.65-.858c.147-.326.221-.67.221-1.034v-.13c0-.338-.054-.63-.162-.878a1.856 1.856 0 00-.436-.623 2.04 2.04 0 00-.624-.397 3.022 3.022 0 00-.715-.195 2.166 2.166 0 001.138-.838 2.395 2.395 0 00.41-1.333v-.065a2.28 2.28 0 00-.183-.897 2.014 2.014 0 00-.565-.754 2.897 2.897 0 00-.969-.52c-.39-.13-.85-.195-1.378-.195-.546 0-1.023.089-1.43.267a2.99 2.99 0 00-1.027.721.858.858 0 00-.201.494.694.694 0 00.175.507.665.665 0 001.001.078c.225-.2.449-.351.67-.455.22-.104.487-.156.8-.156.52 0 .896.098 1.13.293.234.194.351.457.351.786v.039c0 .45-.136.786-.41 1.007-.272.221-.7.332-1.28.332h-.546c-.208 0-.36.07-.455.208a.873.873 0 00-.143.507c0 .2.048.368.143.507.095.139.247.208.455.208h.69c.666 0 1.147.106 1.442.319.295.212.442.539.442.981v.104c0 .182-.032.353-.097.514-.065.16-.17.299-.312.416a1.53 1.53 0 01-.566.273 3.308 3.308 0 01-.87.097c-.322 0-.612-.039-.872-.117a3.295 3.295 0 01-.845-.416c-.2-.121-.386-.16-.559-.117-.173.043-.32.165-.442.364a.835.835 0 00-.123.579c.03.203.145.37.344.5a4.12 4.12 0 001.21.526c.424.109.892.163 1.403.163zm8.567-.065c.225 0 .42-.056.585-.169.165-.113.247-.295.247-.546V13.78c0-.251-.082-.433-.247-.546-.165-.113-.373-.169-.624-.169-.156 0-.316.026-.48.078a3.51 3.51 0 00-.586.26l-2.197 1.222c-.2.113-.316.269-.35.468a.832.832 0 00.09.559c.104.19.251.323.442.397.19.073.394.05.611-.072l1.677-.962v6.734c0 .251.082.433.247.546.165.113.36.169.585.169zM25 2.825c0-.456-.437-.825-.977-.825H.977C.437 2 0 2.37 0 2.825V7h25V2.825z%22 fill=%22%23fff%22 fill-rule=%22evenodd%22 opacity=%221%22/%3E%3C/svg%3E");
  opacity: 1;
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 29px;
  content: "";
  margin-right: 20px;
}

.icon-memo {
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 29px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 25 29%22%3E%3Cpath d=%22M4 23H0v3.238c0 .421.37.762.827.762H4v-4zm2 0v4h17.991c.558 0 1.009-.341 1.009-.762V23H6zm-6-2h4v-5H0zm6 0h19v-5H6zm-6-7h4V9H0zm6 0h19V9H6zM4 2H.827C.37 2 0 2.426 0 2.952V7h4V2zm2 0v5h19V2.952C25 2.426 24.549 2 23.991 2H6z%22 fill=%22%23303038%22 fill-rule=%22evenodd%22 opacity=%220.8%22/%3E%3C/svg%3E");
  content: "";
  margin-right: 20px;
}

.icon-address {
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 29px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 25 29%22%3E%3Cpath d=%22M16.902 20.609a.263.263 0 01-.263.263H5.263A.263.263 0 015 20.609v-1.406c0-.31.167-.595.437-.746l3.903-2.188v-1.19a2.805 2.805 0 01-1.162-1.929.726.726 0 01-.361-.454l-.096-.358a.729.729 0 01.435-.866v-.562a2.803 2.803 0 012.795-2.795h2.531c.146 0 .263.118.263.263v3.094c.34.134.533.504.436.866l-.096.358a.726.726 0 01-.361.454 2.805 2.805 0 01-1.162 1.93v1.19l3.903 2.187c.27.151.437.436.437.746v1.406zM.976 2A.976.976 0 000 2.976v23.035c0 .539.437.976.976.976H20V2H.976zM22.1 19.745v7.242h1.924a.976.976 0 00.976-.976v-7.518l-2.9 1.252zm0-7.865v6.414l2.4-1.03c.31-.18.5-.51.5-.868v-5.771l-2.9 1.255zm0-9.88v8.426l2.387-1.023c.31-.18.5-.51.5-.868V2.957A.956.956 0 0024.03 2H22.1z%22 fill=%22%23303038%22 fill-rule=%22evenodd%22 opacity=%220.8%22/%3E%3C/svg%3E");
  content: "";
  margin-right: 20px;
}

.icon-mybox {
  display: inline-block;
  vertical-align: top;
  width: 26px;
  height: 29px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 26 29%22%3E%3Cpath d=%22M20.095 17.94c0 .412-.221.794-.582 1.002l-5.445 3.135a.293.293 0 01-.44-.25v-6.78a.29.29 0 01.146-.252l5.881-3.386a.293.293 0 01.44.251v6.28zm-13.13-7.613a.289.289 0 010-.501L12.41 6.69a1.18 1.18 0 011.178 0l5.446 3.135a.289.289 0 010 .502l-5.888 3.39a.295.295 0 01-.295 0l-5.887-3.39zm5.406 11.499a.293.293 0 01-.44.25l-5.444-3.134a1.157 1.157 0 01-.583-1.003v-6.28c0-.223.245-.362.44-.25l5.882 3.386a.29.29 0 01.145.251v6.78zM24.496 6.15L14.52.405a3.046 3.046 0 00-3.04 0L1.504 6.15C1.038 6.418.66 6.8.402 7.247A2.972 2.972 0 000 8.737v11.525c0 .533.143 1.045.402 1.491.26.448.636.83 1.102 1.098l9.976 5.743a3.048 3.048 0 003.04 0l9.976-5.743a3.01 3.01 0 001.102-1.098c.259-.446.402-.958.402-1.49V8.737c0-.533-.143-1.045-.402-1.491a3.01 3.01 0 00-1.102-1.097z%22 fill=%22%23303038%22 fill-rule=%22evenodd%22 opacity=%220.8%22/%3E%3C/svg%3E");
  content: "";
  margin-right: 20px;
}

.icon-office {
  display: inline-block;
  vertical-align: top;
  width: 25px;
  height: 29px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 25 29%22%3E%3Cpath d=%22M.8 27h23.4a.8.8 0 00.8-.8V2.8a.8.8 0 00-.8-.8H.8a.8.8 0 00-.8.8v23.4a.8.8 0 00.8.8zM14.297 5.708l7.39 4.117a.2.2 0 010 .35l-7.39 4.117a.2.2 0 01-.297-.174V5.882a.2.2 0 01.297-.174zM4.193 5.98l6.608.02a.2.2 0 01.199.2v1.6a.2.2 0 01-.2.2H4.2a.2.2 0 01-.2-.2l-.007-1.62a.2.2 0 01.2-.2zm0 3l6.608.02a.2.2 0 01.199.2v1.6a.2.2 0 01-.2.2H4.2a.2.2 0 01-.2-.2l-.007-1.62a.2.2 0 01.2-.2zm0 3l6.608.02a.2.2 0 01.199.2v1.6a.2.2 0 01-.2.2H4.2a.2.2 0 01-.2-.2l-.007-1.62a.2.2 0 01.2-.2zM4.2 23h6.6a.2.2 0 00.2-.2v-6.6a.2.2 0 00-.2-.2H4.2a.2.2 0 00-.2.2v6.6c0 .11.09.2.2.2zm13-4h3.6a.2.2 0 00.2-.2v-1.6a.2.2 0 00-.2-.2h-3.6a.2.2 0 00-.2.2v1.6c0 .11.09.2.2.2zm-3 0h1.6a.2.2 0 00.2-.2v-1.6a.2.2 0 00-.2-.2h-1.6a.2.2 0 00-.2.2v1.6c0 .11.09.2.2.2zm3 4.001h3.6a.2.2 0 00.2-.2V21.2a.2.2 0 00-.2-.2h-3.6a.2.2 0 00-.2.2v1.601c0 .11.09.2.2.2zm-3 0h1.6a.2.2 0 00.2-.2V21.2a.2.2 0 00-.2-.2h-1.6a.2.2 0 00-.2.2v1.601c0 .11.09.2.2.2zm2.097-12.053l1.39-.773a.2.2 0 000-.35l-1.39-.773a.2.2 0 00-.297.174v1.548a.2.2 0 00.297.174zM6.2 21h2.6a.2.2 0 00.2-.2v-2.6a.2.2 0 00-.2-.2H6.2a.2.2 0 00-.2.2v2.6c0 .11.09.2.2.2z%22 fill=%22%23303038%22 fill-rule=%22evenodd%22 opacity=%220.8%22/%3E%3C/svg%3E");
  content: "";
  margin-right: 20px;
}

.icon-moneybook {
  display: inline-block;
  vertical-align: top;
  width: 29px;
  height: 29px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 29 29%22%3E%3Cg fill=%22%23303038%22 fill-rule=%22evenodd%22 opacity=%220.8%22%3E%3Cpath d=%22M13.949 1.534L.653 15.322A.4.4 0 00.941 16H3v10.1a.9.9 0 00.9.9h21.2a.9.9 0 00.9-.9V16h2.034a.4.4 0 00.283-.683L25 12V4.6a.6.6 0 00-.6-.6h-3.8a.6.6 0 00-.6.6V7l-5.033-5.455a.7.7 0 00-1.018-.01zm4.682 14.182l.976-3.216h1.614l-.975 3.216h1.178v1.504h-1.587L18.404 23h-1.728l-2.066-8.127L12.544 23h-1.729l-1.431-5.78H7.791v-1.504h1.184L7.998 12.5h1.616l.976 3.216h2.181l.977-3.216h1.724l.976 3.216h2.183z%22/%3E%3Cpath opacity=%220.6%22 d=%22M11.68 19.816l-.681-2.556h1.362zm5.86 0l-.682-2.556h1.362z%22/%3E%3C/g%3E%3C/svg%3E");
  content: "";
  margin-right: 20px;
}

.icon-more-btn {
  display: inline-block;
  vertical-align: top;
  width: 15px;
  height: 29px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 15 29%22%3E%3Cpath d=%22M14.2 22a.8.8 0 00.8-.8V7.8a.8.8 0 00-.8-.8H.8a.8.8 0 00-.8.8v13.4a.8.8 0 00.8.8h13.4zm-6.963-5.306a.4.4 0 01-.038-.038L4.29 13.332A.2.2 0 014.44 13h6.12a.2.2 0 01.15.332L7.8 16.656a.4.4 0 01-.564.038z%22 fill=%22%23303038%22 fill-rule=%22evenodd%22 opacity=%220.8%22/%3E%3C/svg%3E");
  content: "";
  opacity: 0.4;
}

.gnb_one {
}

.gnb_one_ul {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.my_name {
  color: white;
}

.my_bell {
  background: url(https://ssl.pstatic.net/static/common/gnb/one/sp_gnb_v15.png?v=2006)
    no-repeat -999px -999px;
  background-position: -284px -119px;
  width: 17px;
  height: 19px;
}

.my_menu {
  background: url(https://ssl.pstatic.net/static/common/gnb/one/sp_gnb_v15.png?v=2006)
    no-repeat -999px -999px;
  background-position: -324px -120px;
  width: 17px;
  height: 17px;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  border-right: 1px solid #31333b;
  background: #fff;
  border-color: #b4b4b4;
  line-height: normal;
  z-index: 10;
}

.nav_btn_box {
  margin-top: 60px;
  overflow: hidden;
  padding: 16px 18px 22px 19px;
  display: flex;
  justify-content: space-around;
}

.nav_btn {
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 35px;
  background: #9155e5;
  height: 34px;
  overflow: hidden;
  width: 100px;
  height: 35px;

  cursor: pointer;
  position: relative;
}

.top_area {
  display: flex;
  position: relative;
  margin: 0 0 7px;
  width: 250px;
  text-align: center;
  margin-left: 30px;
}



.date {
  font-weight: bold;
  font-family: tahoma, sans-serif;
  font-size: 17px;
  color: #222;
  overflow: hidden;
  padding-left: 26px;
}
